* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

body {
    background-color: rgb(50, 50, 50);
}

header {
    background-color: rgb(100, 100, 100);
    position: fixed;
    top: 0;
    width: 100%;
    height: 75px;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(75, 75, 75);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

a {
    text-decoration: none;
    color: inherit;
}

main {
    /* margin-top: 50px; */
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
    padding-left: 50px;
    padding-right: 50px;
}

button {
    flex: 1;
    align-content: center;
    margin: 50px;
    position: relative;
    aspect-ratio: 1;
    border-radius: 30px;
}

footer {
    height: 75px;
    width: 100%;
    position: fixed;
    bottom: 0%;
    display: flex;
    justify-content: space-between;
}

img {
    width: 65px;
    height: 65px;
    padding: 5px;
}